.formIncidences {
    text-align: start;
    border: 0.2vw solid black;
    padding: 2.5vw;
    width: 70vw;
    height: 50vw;
    margin-left: 12vw;
    margin-top: 2vw;
    margin-bottom: 2vw;
    font-size: 1.5vw;
    background-image: linear-gradient(rgba(255, 255, 255, 0.4), rgba(255, 255, 255, 0.3)),url('../../../img/carretera2.jpeg');
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.title3 {
    text-align: center;
    margin-left: -2vw;
    margin-top: 0vw;
}

.part1 {
    float: left;
    position: relative;
    width: 30vw;
    height: 20vw;
    padding: 1vw;
}

.selects {
    width: 15vw;
    height: 3vw;
    font-size: 1vw;
    margin-left: -3vw;
}

.rrs {
}
.rrs__options {
    margin-top: -2vw !important;
    width: 15vw;
}
.rrs__button {
    line-height: 3vw !important ;
    width: 14.8vw;
    height: 3vw;
    font-size: 1vw;
}

.radio {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: -12vw;
}
.radios {
    margin-left: -5vw;
}
.urgency {
    margin-left: -4vw;
}
.urg {
    margin-bottom: 1vw;
}
.result {
    font-size: 1.1vw;  
    margin-left: -1vw;
    margin-top: 2vw;
}

.line4 {
    border-color: black;
    height: 30vw;
    width: 2px;
    border-width: 0;
    color:#000;
    background-color:#000;
    margin: 1vw; 
}

.part2 {
    float: right;
    position: absolute;
    margin-top: -33vw;
    margin-left: 37vw;
    height: 10vw;
}
.title4{
    margin-top: -12vw;
    font-size: 1.7vw;
    margin-bottom: 0.5vw;
}
.col {
    margin-top: -1vw;
}
.left {
    margin-left: 23vw;
    margin-top: -9vw;
}
.inpColor {
    width: 15vw;
    height: 3vw;
    font-size: 1vw;
    border-radius: 4px 4px 4px 4px;
    border: none;
}
.title5 {
    font-size: 1.7vw;
    margin-bottom: 0.5vw;
}
.col1 {
    margin-top: -1vw;
    border: 2px solid black;
}
.lab {
    margin-bottom: 2vw;
}
.radio1 {
    margin-left: -6vw;
}

.line5 {
    border-color: black;
}

#sub {
    margin-left: 30vw;
    margin-top: 3vw;
}