.begin {
    background-color: gray;
    padding: 1vw;
    border: 2px solid black;
    background-image: linear-gradient(rgba(255, 255, 255, 0.4), rgba(255, 255, 255, 0.3)),url('../../img/carretera2.jpeg');
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.description {
    text-align: center;
    font-size: 1.5vw;
}

.buttons {
    text-align: center;
    padding: 2vw;
}

.buttons-text {
    font-size: 2.2vw;
    background-color: white;
    color: black;
    padding: 0.8vw;
    margin: 2.5vw;
}

.techn {
    margin: 4vw;
    font-size: 17px;
    text-align: end;
}

label {
    font-weight: bold;
    font-size: 1.5vw;
}
.buttons-tech {
    font-size: 1.5vw;
    background-color: white;
    color: black;
    padding: 0.5vw;
}