.title {
    text-align: center;
    font-size: 2.5vw;
}

.line {
    border-color: black;
}

.title2 {
    font-size: 2vw;
    font-weight: bold;
}

label {
    font-weight: bold;
}

input {
    width: 13vw;
    height: 1.5vw;
    border: 1px solid black;
}

.buttons-form {
    font-size: 1.5vw;
    background-color: #0d6079;
    color: black;
    padding: 0.3vw;
    margin-top: 1.5vw;
    padding: 0.5vw;
}
