.signUp {
    width: 100%;
}

.signUp-title {
    background-image: linear-gradient(rgba(45, 116, 248, 0.4), rgba(157, 186, 245, 0.3)),url('../../../img/signUp/signUp.jpg');
    background-size: cover;
    background-position: bottom;
    background-repeat: no-repeat;
    background-attachment: fixed;
    height: 5vw;
    margin-top: 0vw;
    text-align: center;
    padding: 5vw;
    font-size: 4vw;    
    color: rgb(255, 255, 255); 
    text-shadow: black 0.2vw 0.3vw 0.5vw;
    border: 0.2vw solid black;
    border-top: none;
    border-bottom: none;
}

.signUp-content {
    background-color: rgb(235, 232, 232);
    margin-top: -4vw;
    height: 42vw;
    padding: 1vw;
    border: 0.2vw solid black;
    border-bottom: none;
}
.formSign {
    width: 50vw;
    height: 37vw;
    margin-left: 22vw;
    border: 0.2vw solid black;
    margin-top: 2vw;
    padding: 1vw;
    background-color: rgb(92, 143, 216);
}

.formSign-left {
    float: left;
    position: relative;
}
#part1 {
    width: 23vw;
    margin-left: 2vw;
    height: 26vw;
}

.formSign-title {
    font-size: 1.7vw;
    width: 19vw;
    font-weight: bold;
}
.formSign-content {
    text-align: center;
    font-size: 1.2vw;
    font-weight: bold;
    margin-left: -5vw;
}

.line1 {
    border-color: black;
    height: 26vw;
    width: 0.1vw;
    border-width: 0;
    color:#000;
    background-color:#000;
    margin-left: -1vw;
}

.right {
    float: right;
    position: relative;
}
#part2 {
    margin-top: -28.1vw;
    margin-right: 2vw;
    width: 19vw;
    height: 25vw;
    padding: 1vw;
}
.formSign-right-content {
    text-align: center;
    font-size: 1.2vw;
    font-weight: bold;
}

.line2 {
    border-color: black;
    width: 50vw;
}

input {
    width: 15vw;
    height: 2vw;
    font-size: 1vw;
    border-width: 0.15vw;
    background-color: rgb(235, 232, 232);
}

.sign-button {
    font-size: 1.5vw;
    background-color: rgb(235, 232, 232);
    color: black;
    margin-top: 2vw;
    margin-left: 22vw;
    padding: 1vw;
    height: 4vw;
    width: 6.5vw;
}
.sign-button:hover {
    color: rgb(92, 143, 216);
}