.formLogin {
    text-align: center;
    border: 2px solid black;
    padding: 2.5vw;
    width: 40vw;
    margin-left: 24vw;
    margin-top: 5vw;
    margin-bottom: 5vw;
    font-size: 1.5vw;
    background-image: linear-gradient(rgba(255, 255, 255, 0.4), rgba(255, 255, 255, 0.3)),url('../../../img/carretera2.jpeg');
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.line{
    color: black;
}

#links {
    margin-right: 8vw;
}