
.footer {
    height: 9%;
    font-size: 1.3vw;
    background-color: rgb(235, 232, 232);
    border: 0.2vw solid black;
    margin-left: -0.2vw;
}

.text {
    float: left;
    position: relative;
    font-weight: bold;
    margin-left: 1.5vw;
    margin-top: 2vw;
}
.phone {
    margin-left: 45vw;
    margin-top: 1.5vw;
}
.phoneText {
    margin-left: 51vw;
    margin-top: -2.5vw;
}
.phoneImg {
    height: 1.3vw;
    width: 1.3vw;
}

.logos {
    position: relative;
    float: right;
    margin-top: -3.5vw;
    margin-right: 2vw;
}

.twitter {
    border-radius: 20%;
    height: 2.5vw;
    width: 2.5vw;
    margin-right: 2vw;
}
.face {
    border-radius: 20%;
    height: 2.5vw;
    width: 2.5vw;
    margin-right: 2vw;
}
.insta {
    border-radius: 20%;
    height: 2.5vw;
    width: 2.5vw;
}